<link rel="preload" as="font" href="{{ "fonts/MapleMono-NF-CN-Regular.ttf" | relURL }}" type="font/ttf" crossorigin>
<style>
    @font-face {
        font-family: "Maple Mono NF CN";
        src: url("{{ "fonts/MapleMono-NF-CN-Regular.ttf" | relURL }}") format("truetype");
        font-style: normal;
        font-weight: 400;
        font-display: swap;
    }

    @font-face {
        font-family: "Maple Mono NF CN";
        src: url("{{ "fonts/MapleMono-NF-CN-Medium.ttf" | relURL }}") format("truetype");
        font-style: normal;
        font-weight: 500;
        font-display: swap;
    }

    @font-face {
        font-family: "Maple Mono NF CN";
        src: url("{{ "fonts/MapleMono-NF-CN-SemiBold.ttf" | relURL }}") format("truetype");
        font-style: normal;
        font-weight: 600;
        font-display: swap;
    }

    @font-face {
        font-family: "Maple Mono NF CN";
        src: url("{{ "fonts/MapleMono-NF-CN-Bold.ttf" | relURL }}") format("truetype");
        font-style: normal;
        font-weight: 700;
        font-display: swap;
    }
</style>
